@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-Medium.otf");
  font-weight: normal;
  font-style: normal; }
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-family: "Gotham", "Helvetica Neue", Helvetica, sans-serif;
  background-color: #296a4b; }

#topbar {
  display: block;
  width: 100%;
  height: 75px;
  line-height: 75px;
  background-color: #333;
  color: #fff;
  font-size: 22px; }
  #topbar #logo {
    display: inline-block;
    float: left; }
    #topbar #logo img {
      height: 45px;
      margin: 15px; }
  #topbar #title {
    text-align: center;
    margin-right: 100px; }

#wrapper {
  margin: 0 auto;
  max-width: 800px; }

ol {
  list-style-type: decimal; }

ul {
  list-style-type: none; }

ul {
  padding: 0; }

li {
  padding: 10px 100px 25px;
  margin-bottom: 15px;
  text-align: left;
  color: #fff;
  border-bottom: 1px solid #0a522e;
  font-size: 18px; }
  li span {
    text-align: right; }

.none {
  color: #77ba8e; }

.high {
  color: #caffe1; }

.med {
  color: #aef2c4; }

.low {
  color: #92d6a9; }

.info {
  display: inline-block;
  float: right; }
  .info .number, .info .vote {
    display: inline-block; }

form#write {
  text-align: center; }

input:focus {
  outline: 0; }

input[type="text"] {
  background-color: #fff;
  border: 0;
  color: #296a4b;
  height: 50px;
  width: 75%;
  font: 16px "Gotham";
  padding: 10px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px; }

input[type="submit"] {
  background-image: url("../../static/images/arrow.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border: 0;
  margin-left: 10px; }

/*  CREATE PAGE  */
.inputinfo {
  margin: 10px;
  color: #fff;
  text-align: right; }

button#create {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: 0px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  font: 16px "Gotham";
  margin-top: 20px; }

.center {
  text-align: center; }

form#create {
  margin-top: 50px; }
