{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>Quak - Create</title>
    <link href="{% static "css/master.css" %}" rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "js/create.js" %}"></script>

    </head>
  <body>
    <div id="topbar">
      <div id="logo"><img src="../../static/images/logo.png"></div>
      <div id="title">
        CS 61C Questions
      </div>
    </div>

    <div id="wrapper">
      <form id="create">
        <div class="inputinfo">Professor Name: <input type="text" name="prof"></div>
        <div class="inputinfo">Course: <input type="text" name="course"></div>
        <div class="inputinfo">Lecture Number: <input type="text" name="lec"></div>
      </form>

      <div class="center">
        <button id="create">Create my Q&A</button>
      </div>
    </div>
  </body>
</html>