{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>Quak - Create</title>
    <link href="{% static "css/master.css" %}" rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "js/create.js" %}"></script>

    </head>
  <body>
    <div id="topbar">
      <div id="logo"><img src="../../static/images/logo.png"></div>
      <div id="title">
        Make your presentation
      </div>
    </div>

    <div id="wrapper">
      <form id="create" action='/quakapp/create/' method='POST'>
        {% csrf_token %}
        <div class="inputinfo">Presentation Name: <input type="text" name="title" id='title'></div>
        <div class="center">
          <button id="create" type='submit'>Create my Q&A</button>
        </div>
      </form>
    </div>
  </body>
</html>