{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>Quak - Index</title>
    <link href="{% static "css/master.css" %}" rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "js/listeners.js" %}"></script>
    </head>
  <body>
    
    <div id="topbar">
      <div id="logo"><a href="/"><img src="{% static "images/logo.png" %}"></a></div>
      <div id="title">
        {{ title }}
      </div>
      <div id="links">
        <div class="button"><a href=""><img src="../../static/images/evernote-icon.png"></a></div>
        <div class="button"><a href="/sorted_view"><img src="../../static/images/list-icon.png"></a></div>
      </div>
    </div>

    <div id="wrapper">
    <ul id='qlist'>
      {% if questions %}
        {% for question in questions %}
          <li class='med'>
            {{ question.title }}
            <span class="info">
              <div class="number">{{ question.votes }}</div>
              <div class="vote voteIncrement">
                +
                <input type='hidden' id='question_guid' value='{{ question.guid }}'>
              </div>
            </span>
          </li>
        {% endfor %}
      {% else %}
        <li> No questions yet! </li>
      {% endif %}
    </ul>
      
  <div class="addquestion">
    <form action='/newQuestion/' method='POST' id="createQuestion">
      {% csrf_token %}
      <input type="text" id='question_title' name='question_title' placeholder="What do you want to ask?">
      <input type='hidden' id='presentation_guid' name='presentation_guid' value="{{ guid }}">
      <input type="submit" value=" ">
    </form>
  </div>

  </div>
  
  </body>
</html>