{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>Quak - Index</title>
    <link href="{% static "css/master.css" %}" rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "js/listeners.js" %}"></script>
    </head>
  <body>
    
    <div id="topbar">
      <div id="logo"><img src="{% static "images/logo.png" %}"></div>
      <div id="title">
        {{ title }}
      </div>
    </div>

    <div id="wrapper">
    <ul id='qlist'>
      <li> Save this presentation's Q&A as a Evernote! </li>
    </ul>

  </div>
  
  </body>
</html>